@page "/men"

@using BlazorWebshop.Data
@inject ImageService ImgService
@inject ProductService ProductService
@inject NavigationManager NavigationManager

<h1>Men's Clothes</h1>
<div class="row">
    @foreach (var image in _images)
    {
        <div class="column">
            <img src=@image.Path asp-append-version="true" @onclick="() => imgClicked(image.Name)"/>
            <label>@image.Name</label>
        </div>
    }
</div>

@code{
    List<Img> _images;
    protected override async Task OnInitializedAsync()
    {
        _images = await ImgService.getImages();
    }

    public void imgClicked(string name){
        Console.WriteLine("Img " + name);
        ProductService.SetCurrentProduct(name);
        NavigationManager.NavigateTo("ProductPage");
    }
}